.userInfoForm {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__inputContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__buttons {
    align-self: flex-end;
  }
}

@media (width < 860px) {
  .userInfoForm {
    &__buttons {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background-color: var(--color-modal);
      display: flex;
      justify-content: flex-end;
    }
  }
}
