.headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  &__title {
    font-weight: 900;
  }
  &__subtitle {
    color: rgb(178, 178, 178);
    line-height: 150%;
  }
}
